- name: Fail if the Password RABBITMQ_USER_PASSWORD does not exist
  ansible.builtin.fail:
    msg: RABBITMQ_USER_PASSWORD variable is missing.
  when: RABBITMQ_USER_PASSWORD is undefined

- name: Import Common Roles- Python
  ansible.builtin.include_role:
    name: common
    tasks_from: python
